.hero{
    text-align: center;
    background-position: center;
    background-size: cover;
    display: block;
    background: none;
    min-height: fit-content;
}
.hero .text{
    justify-content: center;
    padding: 2rem;
}
.hero div h1{
    text-align: center;
    text-transform: capitalize;
}
.siloam .gif > div {
    width:365px;
}
.about{
    text-align: center;
}
@media screen and (min-width:960px) {
.siloam .gif > div {
    width: 550px;
}
section{
    margin-top: 3rem !important;
}
}